body
{
	padding:0px;
	margin:0px;
	background-color: #c62828;
	 font-family: 'Dosis', sans-serif;
}
.card
{
	border: none;
	box-shadow: none;

}
.mycard
{
	margin-top: 12%;
	}
.textline
{
	font-size: 18px;
	padding-top:2vw;
	padding-bottom: 2vw;

}
