body{
	background-color: #f8f9fa;
	 font-family: 'Dosis', sans-serif;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 7%;
  left:15%;
}


.container1{
	width: 85%;
}

.main_div{
	
}
.topBorder
{
	position:absolute;
	bottom: 50px;
	right:50px; 
	border-top:4px solid  blue;
	border-left:4px solid  blue;
}

.icons{
	margin-top: 2vw;
	padding-left: 2.2vw;
	padding-right: 2.2vw;
}

.input-field{
	margin-top: 0px;
}

.submit_btn{
	width:100%;
	background-color: #c62828;
}
.login_btn
{
	display: block;
	background-color: transparent;
	border: 2px solid white;
}
.login_btn:hover{
	background-color: white;
	color: #d50000;
	border: 3px solid white; 
}

.submit_btn:hover{
	background-color: white;
	color: #d50000;
	border: 2px solid #d50000; 
}

.login_sec{
	background-color: #c62828;
	height: 35.3vw;
}
.login{
	margin-top:6vw;
}

.test5{
	color: white;
}