body,html
{
	padding:0px;
	margin:0px;
	 font-family: 'Dosis', sans-serif;

}
body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    background-color: white;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #c62828;
}
.side-nav
{
	background-color: #c62828;
}

.heading h3
{
	font-size: 23px;
	margin-left:25%;
	font-weight: bold;
}

.sidenav-items
{
	padding-top:2vh;
	padding-left: 15px;
	padding-right: 15px;
}

.side-nav li > a 
{

	color:white;
}

.side-nav li > a:hover {
  background-color:#e0e0e0;
  color: #c62828;
  font-size: 16px;
}

select
{
	color:#c62828 !important;
}
.sidenav-item
{
	padding:8px;
}

.myNavbar
{
	background-color:white;
  padding-left: 300px;
}

.mynav  a
{
	color:   #c62828;
}
.mynav .user_info
{
	color:  #c62828;
	font-size: 22px;
}
.info_heading
{
	color:   #c62828;
	font-size: 22px;
}
.user_profile_content,.blood_sure_section,.history_section,
{
	height:100%;
	background-color:#f8f9fa;
}
.myContainer
{
	padding-left: 300px;
	padding-right: 20px;
	padding-top: 20px;
}
.info
{
	border:1px solid #f5f5f5;
	height: 80%;
}
/*
.card img
{
	height:300px;
}*/

.total
{
	padding-top:20px;
	font-size: 18px;
}
.payment
{
	padding-top:18px;
}
.payment_button
{
padding-bottom: 4.8vw;
	
}
.upd_button
{
padding-bottom: 4.8vw;		
}
.user_info
{
	font-size: 24px;
}

.card_head
{
  background-color: #c62828;
  padding-top: 8vh;
}
.card_head h3
{
  color: white;
}

.card_head_donate
{
  background-color: white;
  padding-top: 8vh;
}
.card_head_donate h3
{
  color:#c62828;
}
.filter_chip
{
  margin-top: 30px;
}
.donor-table
{
  padding-bottom: 20px;
}
.select_button
{
  position:absolute;
  top:2vh;
  left:100%;
  margin-left: 10px;
  background-color: #c62828;
}
.select_button:hover
{
  background-color: white;
  color:#c62828;
}

.findDonorImg img
{
  height:200px;
  width:50%;
}
.beDonorImg img
{
  height:200px;
  width:50%;
}

.select-wrapper input.select-dropdown{
  color: #c62828;
}

select:disabled {
  color: #c62828
}

.select-wrapper input.select-dropdown:disabled {
  color: #c62828;
}

.select-dropdown li.disabled,
.select-dropdown li.disabled > span,
.select-dropdown li.optgroup {
  color: #c62828;
}

.select-dropdown li.optgroup.selected > span {
  color: #c62828;
}

.select-dropdown li.optgroup > span {
  color: #c62828;
}

.select-wrapper span.caret {
  color: #c62828;
}

#map{
  height: 400px;
}

.info_heading
{
  color:   #c62828;
  font-size: 22px;
  /* added by me*/
  padding-left: 50px;
  /* add ended*/
}

.userprofileModal
{
  margin-top:5%;
  margin-left:30%;
  height:100%;
  background-color:#f5f5f5;
  overflow: hidden;
}
.userprofileForm
{
  padding: 30px;
}

@media only screen and (max-width: 768px){
    .myNavbar
    {
      background-color:white;
      padding-left: 0px;
    }
    .myContainer
    {
       padding-left: 0;
       padding-right: 0px;
          	
    }	
    .mynav .user_info
    {
    	color:  #B71C1C;
    	font-size: 18px;
    }
    .info_heading
    {
    	color:  #B71C1C;
    	font-size: 22px;
    }
    .total
    {
    	padding-top:15px;
    	font-size: 18px;
    }
    .payment
    {
    	padding-top:5px;
    }
}


@media only screen and (max-width : 992px) {
      
.myNavbar
{
  background-color:white;
  padding-left: 0px;
}
      .myContainer
      {
      	padding-left: 0;
      	padding-right: 0px;
      	
      }
    }

/* added by me*/
/*adding css of map*/

@media only screen and (max-width: 768px){
  .userprofileModal
  { 
      margin-left:12%;
  }
}
.hospitals_link
{
  padding-top: 20px;
}
