<div class="findDonor_section">
  		<div class="myContainer">
  			<div class="row">
  				<div class="col s12 m12">
  					<div class=" col s12 card-panel white">
		  				<h5 class="info_heading">Donation Camp Details</h5>	
		  				<div class="divider"></div>
						<div class="row">
							<div class="col s12 m8 filter_chip" >
								<a href="" ng-click="click=1;style1=styles;style2=null;style3=null;style4=null;style5=null;allCamps()" class="chip" ng-style="style1">All Camps</a>
								<a href="" ng-click="click=2;style2=styles;style1=null;style3=null;style4=null;style5=null" class="chip" ng-style="style2">Sort by Location</a>
								<a href="" ng-click="click=3;style3=styles; style2=null;style1=null;style4=null;style5=null" ng-style="style3" class="chip">Sort by Date</a>
								<a href="" ng-click="click=4;style4=styles;style3=null; style2=null;style1=null;style5=null" ng-style="style4" class="chip">Sort by Camp Organizer</a>
								<a href="" ng-click="click=5;style5=styles;style4=null;style3=null; style2=null;style1=null;" ng-style="style5" class="chip">Sort by Blood Banks</a>
								<!--<a href="" ng-click="click=2;style2=styles; style1=null;style3=null;style4=null" ng-style="style2" class="chip">Sort by Location</a>-->
								
							</div>
							
							<div class="col s12 m4">
								<div ng-show="click==1"></div>
						    	<div class="input-field inline" ng-show="click==2">

						    		<select class="browser-default" ng-model="camplocation">
									      <option value="" disabled selected>Select Location</option>
									      <option value="DELHI">DELHI</option>
									      <option value="GURUGRAM">GURUGRAM</option>
									      <option value="NOIDA">NOIDA</option>
									      <option value="GRAETER KAILASH">GREATER KAILASH</option>
									</select>
								<a class="waves-effect waves-light btn select_button" ng-click="searchCampbyLocation()" >Find Camp</a>
						    	</div>
						    	<div class="input-field inline" ng-show="click==3">
						          <input placeholder="" id="date" type="date" class="validate" ng-model="dateOfDonation">
						        <a class="waves-effect waves-light btn select_button" ng-click="searchByDate()" >Find Camp</a>
						        </div> 


						        <div class="input-field inline" ng-show="click==4">

						    		<select class="browser-default" ng-model="camporganizer">
									      <option value="" disabled selected>Select Organizer</option>
									      <option value="DELL">DELL</option>
									      <option value="ACER">ACER</option>
									      <option value="RVS">RVS</option>
									      <option value="GSST">GSST</option>
									</select>
								<a class="waves-effect waves-light btn select_button" ng-click="searchCampbyOrganizer()" >Find Camp</a>
						    	</div>


						    	<div class="input-field inline" ng-show="click==5">

						    		<select class="browser-default" ng-model="bloodBank">
									      <option value="" disabled selected>Select Blood Bank</option>
									      <option value="Rotary club ">Rotary club </option>
									      <option value="GGS Club ">GGS Club </option>
									      <option value="RKC">RKC</option>
									      <option value="Raijv k Club">Raijv k Club</option>
									</select>
								<a class="waves-effect waves-light btn select_button" ng-click="searchCampbyBloodBank()" >Find Camp</a>
						    	</div>
						    	<!--<div ng-show="click==3">
						    		
						    	</div>-->
							</div>	
					    </div>
		  			<div class="donor-table">
		  				<table class="striped responsive-table centered">
					        <thead>
					          <tr>

					              <th  style="font-size:20px">Date of Donation</th>
					              <th  style="font-size:20px">Camp Organization</th>
					              <th  style="font-size:20px">Organizer Name</th>
					              <th  style="font-size:20px">Blood Bank</th>
					              <th  style="font-size:20px">Organizer Contact</th>
					              <th  style="font-size:20px">Camp Location</th>
					              <th  style="font-size:20px">Timing</th>

					          </tr>
					        </thead>

					        <tbody>
					          <tr ng-repeat="camp in details">
					          	<td>{{camp.dateOfDonation}}</td>
					  			<td>{{camp.campOrganizer}}</td>
					            <td>{{camp.organizerName}}</td>
					            <td>{{camp.bloodBank}}</td>
					            <td>{{camp.cantactOrganizer}}</td>
					            <td>{{camp.camplocation}}</td>
					  			<td>{{camp.timing}}</td>
					          </tr>
					     
					        </tbody>
					      </table>
		  			</div>
		  			</div>
  				</div>				     
  			</div> 		
  		</div>
 </div>
<script type="text/javascript">
	$('select').material_select();

</script>