<link rel="stylesheet" type="text/css" href="css/style.css">

<!-- --------------------------My side Navbar------------------------------------------- -->
    <div>
     	<ul id="slide-out" class="side-nav fixed sidenav">
      		<li ui-sref="mainpage" class="heading"><h3 style="color:white"><span><img src="img/bport_logo.png" class="iconImage"></span>BLOODPORT</h3></li>
      		<li ><div class="divider"></div></li>
      		
      		<!--<div class="row">
			    <div class="col s12 ">
			        <div class="card" style="height:50px">
			           <div class="input-field" style="padding:5px">
					        <input id="search" type="search" required>
					        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
					    </div>
			        </div>
			    </div>
			</div>-->
      		
      		<div class="sidenav-items">

      			<li class="sidenav-item hide-on-large-only" style="color: white"><a class="waves-effect"><i class="small material-icons b-icon " style="color:white">person</i>{{logged_mobile_no}}</a></li>
      			<div class="divider hide-on-large-only"></div>
      			<li class="sidenav-item bloodsure "><a ui-sref="dashboard.bloodsure" ng-click="allHospitals()" class="waves-effect"><i class="small material-icons b-icon " style="color:white">dashboard</i>BLOODSURE</a></li>
			    <li class="sidenav-item user"><a ui-sref="dashboard.userprofile" class="waves-effect "><i class="small material-icons u-icon" style="color:white">perm_identity</i>USER PROFILE</a></li>


			    <li class="sidenav-item user"><a ui-sref="dashboard.donor" class="waves-effect "><i class="small material-icons u-icon" style="color:white">contacts</i>DONOR</a></li>
			    <li class="sidenav-item"><a ui-sref="dashboard.hospital" class="waves-effect" href="#!"><i class="small material-icons m-icon" style="color:white">room</i>HOSPITAL</a> </li>
			    <li class="sidenav-item history"><a ui-sref="dashboard.history" class="waves-effect" href="#!"><i class="small material-icons h-icon " style="color:white" ng-click="get_history_patient()">schedule</i>HISTORY</a> </li>
			   	<div class="divider hide-on-large-only"></div>
				<div class="hide-on-large-only">
			   		<!-- addded by sakshi on 20/7/17 -->
			   		<li class="sidenav-item" style="color: white"><a class="waves-effect" href="#!" ng-click="logout()"><i class="small material-icons b-icon " style="color:white">subdirectory_arrow_left</i>LOGOUT</a> </li>
			   		<!-- add ended -->
			   	</div>
      		</div>    			
		</ul>
	</div>


	<!-- ---------------------------------------navbar--------------------------------------- -->
	<div class="navbar-fixed">
	  	<nav class="myNavbar">
			<div class="nav-wrapper mynav">
				<a href="#" data-activates="slide-out" class="right button-collapse"><i class="material-icons">menu</i></a>
				<a href="#" class="brand-logo user_info ">{{dahsboardtitle}}</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href=""></a></li>
					<!-- addded by sakshi on 20/7/17 -->
					<li style="color: #c62828;">{{logged_mobile_no}}</li>
					<!-- add ended -->
					<li><a href="" ng-click="logout()">Logout</a></li>
				</ul>		        
			</div>		    
		</nav>			
	</div>

		<div ui-view></div>