<div class="findDonor_section">
  		<div class="myContainer">
  			<div class="row">
  				<div class="col s12 m12">
  					<div class=" col s12 card-panel white">
		  				<h5 class="info_heading">Donors Details</h5>	
		  				<div class="divider"></div>
						<div class="filter_chip">
							<a ng-click=""><div class="chip">
							 
							    Sort by Location
							 </div></a>

							 <a ng-click=""><div class="chip">
							 
							    Sort by Blood Type
							 </div></a>

							 <a ng-click=""><div class="chip">
							 
							    Sort by Location
							 </div></a>

							 <a ng-click=""><div class="chip">
							 
							    Sort by Location
							 </div></a>
						</div>	 
		  			</div>
  				</div>				     
  			</div> 		
  		</div>
 </div>
