<!-- ------------------------------History section starts here ------------------------------------------ -->
<div class="history_section">
	<div id="modal1" class="modal userprofileModal" >
        <div class="modal-content center">
          <div class="col s12 m8">
            <h5><span style="color:#c62828">Please Enter Details to access "History"</span></h5>
           
          </div>

          <form name="update_form" novalidate ng-submit="update_modal_details()" class="userprofileForm">
          	<div class="input-field col s6">
              <input id="user_name" type="text" ng-model="user_modal_name" required style="color: #c62828">
              <label for="user_name" style="color: #c62828">Enter Name</label>
            </div>

            <div class="input-field col s6">
            	<input type="date" name="user_dob" ng-model="user_modal_dob" required style="color: #c62828">
            </div>

           	<div class="input-field col s6">	
           		<select ng-model="user_modal_gender">
           			<option value="" disabled selected>Select Gender</option>
           			<option value="male">MALE</option>
           			<option value="female">FEMALE</option>
           			<option value="others">Others</option>
           		</select>
           	</div>

           	<div class="input-field col s6">
           		<input type="password" name="user_modal_pass" ng-model="user_modal_pass" required style="color: #c62828">
           		<label for="user_modal_pass" style="color: #c62828">Password</label>
           	</div>

            <p ng-model="errorMsg"></p>

            <button id="verify" class="btn waves-effect waves-light btn modal-close" type="" name="action" ng-disabled="check()||update_form.$invalid" style="background-color: #c62828; color: white">Submit</button>
          </div>
  	</div>
   			<div class="myContainer" >
   				<div class="row">
			        <div class="col s12">
			          <ul class="tabs">
			            <li class="tab col s6" ng-click="get_history_patient()"><a style="color:#c62828" class="active"  href="#inbox">Patients</a></li>
			            <li class="tab col s6" ><a style="color:#c62828"  href="#unread">Donors</a></li>
			          </ul>
			        </div>

				        <div id="inbox" class="col s12">
				        	<table class="striped responsive-table">
						        <thead>
						          <tr>
						              <th>Patient Name</th>
						              <th>Blood Type</th>
						              <th>Units of Blood</th>
						              <th>Doctor Name</th>
						              <th>Hospital</th>
						              <th>City</th>
						          </tr>
						        </thead>

						        <tbody>
						          <tr ng-repeat="patient in detail">
						            <td>{{patient.patient_name}}</td>
						            <td>{{patient.blood_grp}}</td>
						            <td>{{patient.unit_of_blood}}</td>
						            <td>{{patient.doctor_name}}</td>
						            <td>{{patient.hospital}}</td>
						           	<td>{{patient.city}}</td>
						          </tr>
						          
						        </tbody>
						      </table>
				        </div>
				        <div id="unread" class="col s12">
				        	<table class="striped responsive-table">
						        <thead>
						          <tr>
						              <th>Name</th>
						              <th>Item Name</th>
						              <th>Item Price</th>
						          </tr>
						        </thead>

						        <tbody>
						          <tr>
						            <td>Alvin</td>
						            <td>Eclair</td>
						            <td>$0.87</td>
						          </tr>
						          <tr>
						            <td>Alan</td>
						            <td>Jellybean</td>
						            <td>$3.76</td>
						          </tr>
						          <tr>
						            <td>Jonathan</td>
						            <td>Lollipop</td>
						            <td>$7.00</td>
						          </tr>
						        </tbody>
						      </table>


				        </div>
      				</div>
   			</div>
   		</div>
   <!-- ------------------------------History section ends  here ------------------------------------------ -->


  
        <script type="text/javascript" src="js/materialize.min.js"></script>
        <script type="text/javascript">
			$('select').material_select();
		</script>
		
        <script type="text/javascript">
      	$(document).ready(function(){
      		$(".button-collapse").sideNav({
      			menuWidth: 270
      		});
      	});
      	</script>
