<script type="text/javascript" src="script.js"></script>
<div class="hospital_section">
		<div id="modal1" class="modal userprofileModal" >
        <div class="modal-content center">
          <div class="col s12 m8">
            <h5><span style="color:#c62828">Please Enter Details to access "User Profile"</span></h5>
           
          </div>

          <form name="update_form" novalidate ng-submit="update_modal_details()" class="userprofileForm">
          	<div class="input-field col s6">
              <input id="user_name" type="text" ng-model="user_modal_name" required style="color: #c62828">
              <label for="user_name" style="color: #c62828">Enter Name</label>
            </div>

            <div class="input-field col s6">
            	<input type="date" name="user_dob" ng-model="user_modal_dob" required style="color: #c62828">
            </div>

           	<div class="input-field col s6">	
           		<select ng-model="user_modal_gender">
           			<option value="" disabled selected>Select Gender</option>
           			<option value="male">MALE</option>
           			<option value="female">FEMALE</option>
           			<option value="others">Others</option>
           		</select>
           	</div>

           	<div class="input-field col s6">
           		<input type="password" name="user_modal_pass" ng-model="user_modal_pass" required style="color: #c62828">
           		<label for="user_modal_pass" style="color: #c62828">Password</label>
           	</div>

            <p ng-model="errorMsg"></p>

            <button id="verify" class="btn waves-effect waves-light btn modal-close" type="" name="action" ng-disabled="check()||update_form.$invalid" style="background-color: #c62828; color: white">Submit</button>
          </div>
  </div>
  	<div class="myContainer" >
  		<div class="row">
  			<div class="col s12 m12">
  				<div class=" col s12 card-panel white">
  					<div class="col s12 m12">
  						<div class="input-field align-wrapper">
  							<i class="material-icons prefix search" style="color: #c62828">search</i>
  							<p class="info_heading">Hospitals Search</p>
  						</div>
  					</div>
		  				
		  			<div class="divider">
		  			</div>

		  			<div class="row">
							<div class="col s12 m8 filter_chip" >
								<a href="" ng-click="click=1;style1=styles;style2=null;style3=null;style4=null;style5=null;" class="chip" ng-style="style1">All Hospitals</a>
								<a href="" ng-click="click=2;style2=styles;style1=null;style3=null;style4=null;style5=null" class="chip" ng-style="style2">Sort by Location</a>
								<a href="" ng-click="click=3;style3=styles; style2=null;style1=null;style4=null;style5=null" ng-style="style3" class="chip">Sort by Name</a>
								<!--<a href="" ng-click="click=4;style4=styles;style3=null; style2=null;style1=null;style5=null" ng-style="style4" class="chip">Sort by Camp Organizer</a>
								<a href="" ng-click="click=5;style5=styles;style4=null;style3=null; style2=null;style1=null;" ng-style="style5" class="chip">Sort by Blood Banks</a>-->
								<!--<a href="" ng-click="click=2;style2=styles; style1=null;style3=null;style4=null" ng-style="style2" class="chip">Sort by Location</a>-->
								
							</div>
							
							<div class="col s12 m4">
								<div ng-show="click==1"></div>
						    	<div class="input-field inline" ng-show="click==2">

						    		<select ng-model="hospitalLocation">
									      <option value="" disabled selected>Select Location</option>
									      <option value="DELHI">DELHI</option>
									      <option value="GURUGRAM">GURUGRAM</option>
									      <option value="NOIDA">NOIDA</option>
									      <option value="GRAETER KAILASH">GREATER KAILASH</option>
									</select>
								<a class="waves-effect waves-light btn select_button" ng-click="searchHospitalbyLocation()" >Find Camp</a>
						    	</div>


						    	<div class="input-field inline" ng-show="click==3">

						    		<select ng-model="hospitalName">
									      <option value="" disabled selected>Select Hospital Name</option>
									      <option value="DELHI">DELHI</option>
									      <option value="GURUGRAM">GURUGRAM</option>
									      <option value="NOIDA">NOIDA</option>
									      <option value="GRAETER KAILASH">GREATER KAILASH</option>
									</select>
								<a class="waves-effect waves-light btn select_button" ng-click="searchByName()" >Find</a>
						    	</div>

						   
						    	<!--<div ng-show="click==3">
						    		
						    	</div>-->
							</div>	
					    </div>
					
					<!--<button class="chip" ng-click="check()">Sort by Location</button>
					<button class="chip" ng-click="check()">Sort by Name</button>-->
							 
					<!--<div class="filter_chip">
						<div class="col s12 m4">
							<div class="input-field valign-wrapper">
								<i class="material-icons prefix add_location tooltipped" style="color: #c62828" data-position="bottom" data-delay="50" data-tooltip="Location">add_location</i>
								<select ng-model="data.loc" ng-change="test()">
									<option value="" disabled selected > Required Blood Group</option>
									<option value="Delhi">Delhi</option>
									<option value="Noida">Noida</option>
									<option value="Gurgoan">Gurgoan</option>
								</select>

							</div>
						</div>

						<div class="col s12 m4">
							<div class="input-field valign-wrapper">
								<i class="material-icons prefix contacts tooltipped" style="color: #c62828" data-position="bottom" data-delay="50" data-tooltip="Hospital Name">contacts</i>
								<select>
									<option value="Pitampura Blood Bank">Pitampura Blood Bank</option>
									<option value="Blood Bank Org">Blood Bank Org</option>
									<option value="Lions Blood Bank">Lions Blood Bank</option>
									<option value="Blood Bank Apollo">Blood Bank Apollo</option>
									<option value="Shiv Rathi">Shiv Rathi</option>
								</select>
							</div>
						</div>
					</div>-->

					<div class="col s12 card white" id="map">
		  				
		  			</div>	

		  			<div class="col s12 m12 card">
		  				<table class="striped bordered">
		  					<thead>
		  						<tr>
		  							<th>HOSPITAL ID</th>
		  							<th>HOSPITAL NAME</th>
		  							<th>HOSPITAL LOCATION</th>
		  						</tr>
		  					</thead>

		  					<tbody>
		  						<tr>
		  							<td>1</td>
		  							<td>abc</td>
		  							<td>Gurgoan</td>
		  						</tr>

		  						<tr>
		  							<td>2</td>
		  							<td>xyz</td>
		  							<td>noida</td>
		  						</tr>
		  					</tbody>
		  				</table>
		  			</div> 
		  		</div>
  			</div>				     
  		</div> 	
 	</div>
</div>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtW-bB1YLRRaJdbKuXeQUk3Z_kBrItZvY&callback=initMap"></script>
<script type="text/javascript">
	$('.chips').material_chip();
	$('select').material_select();
	$('.tooltipped').tooltip({delay: 50});
</script>