
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<!-- -------------------------------------------------Navbar Starts Here---------------------------------------------------- -->

   <nav class="nav1">
    <div class="nav-wrapper">
      <a ui-sref="mainpage" class="brand-logo heading1">BLOODPORT</a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down main_menu">
        <li><a ui-sref="dashboard.bloodsure" class="smoothScroll">HOME</a></li>
        <li><a href="#info" class="smoothScroll">OUR SERVICES</a></li>
        <li><a href="#event" class="smoothScroll">UPCOMING EVENTS</a></li>
        <li><a href="#photo" class="smoothScroll">PHOTO GALLERY</a></li>
        <li><a ui-sref="signup">SIGN-UP/SIGN-IN</a></li>
        <a ui-sref="" class="waves-effect waves-light btn" style="background-color:#c62828;" ng-click="">Be an Organizer</a>
      </ul>
      
    </div>
  </nav>
    <ul class="side-nav" id="mobile-demo">
      <li class=""><a href="#">HOME</a></li>
        <li><a href="#info" class="smoothScroll">OUR SERVICES</a></li>
        <li><a href="#event" class="smoothScroll">UPCOMING EVENTS</a></li>
        <li><a ui-sref="signup">SIGN-UP/SIGN-IN</a></li>
    </ul>



  <!-- -------------------------------------------------Navbar ends Here------------------------------------------------------>

  

 <!-- -----------------------------------------------Landing Page Starts Here--------------------------------------------- -->

  <div class="vsec" id="home">
  <video playsinline autoplay muted loop>
      <source src="video/donation.mp4" type="video/mp4">
    </video> 

    <div class="carousel carousel-slider myslider" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a href="#request" class="smoothScroll" ><i  class=" material-icons medium scroll">keyboard_arrow_down</i></a>
    </div>

    <div class="carousel-item white-text  img1" href="#one!">
    <div class="container">
        <div class="row">
          <div class="offset-m1 col m10 offset-m1 content center-align">
                <h6 class="welcome center-align">Welcome To BloodPORT</h6>
                <div class="typewriter_effect">
                  <p><a href="" class="typewrite light grey-text text-lighten-3" data-period="2000" data-type='["A life may depend on a gesture from you, a bottle of Blood.", "The best blood will at some time get into a fool or a mosquito.","To give blood you need neither extra strength nor extra food,and you will save a life."]'></a></p>
                </div>
                <div  class="emergency_btn">
                  <a class="waves-effect waves-light btn-large" style="background-color:transparent;border:2px solid #c62828"><span style="font-weight:bolder">EMERGENCY</span></a>
                </div>
          </div>
        </div> 
      </div>      
    </div>

    <div class="carousel-item white-text img2" href="#two!">
    <div class=""></div>
      <div class="container">
        <div class="row">
          <div class="col m6 content1 left-align">
            <h1 class="slide1_p">What We Do?</h1>
            <p class="white-text slide1_text">This is your second panel. This is your second panel. This is your second panel. This is your second panel</p>
          </div>
        </div> 
      </div>
    </div>


    <div class="carousel-item white-text img3" href="#three!">
      <div class="container">
        <div class="row">
          <div class="offset-m6 col m6 content2 right-align">
            <h1 class="slide1_p">What We Do?</h1>
            <p class="white-text">This is your second panel. This is your second panel. This is your second panel. This is your second panel</p>
          </div>
        </div> 
      </div>
    </div>
    <div class="carousel-item white-text" href="#four!">
      <div class="container">
        <div class="row">
          <div class="offset-m3 col m6 offset-m3 content3 center-align">
            <h1 class="slide1_p">What We Do?</h1>
            <p class="white-text">This is your second panel. This is your second panel. This is your second panel. This is your second panel</p>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>


  <!-- -----------------------------------------------Landing Page ends Here--------------------------------------------- -->



  <!-- -----------------------------------------------Request Section Starts Here--------------------------------------------- -->

  <div class="row request" id="request">
    <div class="col m12 s12">
      <div class="container_help">
        <div class="row">
          <div class="col m7 s12">
            <h4 class="req_heading">WE ARE HELPING PEOPLE TO GET BLOOD</h4>
            <p class="grey-text text-darken-1">You can give blood at any of our blood donation venues all over the world. We have total sixty thousands donor centers and visit thousands of other venues on various occasions.</p>
          </div>
          <div class="col m5 s12 center">
            <div class="request_button">
              <a class="btn-large"><span>GET BLOODPORT APP</span></a>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
 

  <!-- -----------------------------------------------Request section ends Here--------------------------------------------- -->

  <!-- --------------------------------------------Donation process section starts Here--------------------------------------- -->
    <div class="donation_process">  
      <div class="row">
        <div class="col m12 s12 bloodgrp">
          <p class="center-align heading" ><i class="material-icons">clear_all</i><span class="our_serv">DDONATION PROCESS</span><i class="material-icons">clear_all</i></p>
          <h5 class="center-align grey-text text-darken-1">Increase the awareness among people about various issues</h5>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/regis.jpg">
              <div class="col offest-m9 m3 offset-m9 offset-s9 s3 offset-s9 step1">
                <h3 class="center-align white-text">1</h3>
              </div>
            </div>
            <div class="card-content dp_card">
              <h4>REGISTRATION</h4>
              <p>You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/screening.jpg" style="height: 213px">
              <div class="col offest-m9 m3 offset-m9 offset-s9 s3 offset-s9 step1">
                <h3 class="center-align white-text">2</h3>
              </div>
            </div>
            <div class="card-content dp_card">
              <h4>SCREENING</h4>
              <p>You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/donate.jpg" style="height: 213px">
              <div class="col offest-m9 m3 offset-m9 offset-s9 s3 offset-s9 step1">
                <h3 class="center-align white-text">3</h3>
              </div>
            </div>
            <div class="card-content dp_card">
              <h4>DONATION</h4>
              <p>You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process</p>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/refresh.jpg" style="height: 213px">
              <div class="col offest-m9 m3 offset-m9 offset-s9 s3 offset-s9 step1">
                <h3 class="center-align white-text">4</h3>
              </div>
            </div>
            <div class="card-content dp_card">
              <h4>REFRESHMENT</h4>
              <p>You need to complete a very simple registration form. Which contains all required contact information to enter in the donation process</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  <!-- --------------------------------------------donation process section ends Here------------------------------------
  

<!-- --------------------------------------------Play the video section Starts Here--------------------------------------- -->
    <div class="video_sec">
     <div class="play_vid_tint">
      <div class="video_text center">
        <h3 class="play">PLAY THE VIDEO</h3>
        <a class="button " href="#modal1" id="play-video"><i class="material-icons large">play_circle_filled</i></a>
      </div>  
      </div>
    </div>
  <div class="row">
    <div class="col s12">
      <div id="modal1" class="modal">
      <div class="modal-content mymodal-content">
        <div class="video-container">
          <iframe id="video1" width="200" height="200" src="https://www.youtube.com/embed/DMilXF7ENps?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat button" id="agree_btn">Close</a>
      </div>
    </div>
    </div>
  </div>
    
  <!-- --------------------------------------------Play the video section ends Here--------------------------------------- -->


  <!-- ---------------------------------------------Functionality section Starts Here--------------------------------------- -->


    
    <div id="info">
      <div class="row">
        <div class="col m12 s12 bloodgrp">
          <p class="center-align"><i class="material-icons">clear_all</i><span class="our_serv">OUR SERVICES</span><i class="material-icons">clear_all</i></p>
          <h5 class="center-align grey-text text-darken-1 our_serv_text"> Donate blood and save  a life. Donate blood and save  a life</h5>
        </div>
      </div>
     </div> 

  <div class="functionality">
    <div class="mycontainer">
      <div class="row myrow1">
            <div class="offset-m1 col s12 m5">
                <div class="card horizontal ">
                  <div class="card-image myimg" >
                    <img src="img/search.png">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content card_div">
                    <div class="text">
                      <h2><span style="color:#c62828">Do</span>nors</h2>
                    </div>
                      
                      <div class="button center">
                        <a class="waves-effect waves-light btn-large" style="background-color:transparent;border:2px solid white" ng-click="findDonor()"><span style="font-weight:bold">Find Donors</span></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>


               <div class=" col s12 m5 ">
                <div class="card horizontal  ">
                  <div class="card-image myimg" >
                    <img src="img/hospital.png">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content card_div">
                    <div class="text">
                      <h2><span style="color:#c62828">Ho</span>spitals</h2>
                    </div>
                      
                      <div class="button center">
                        <a class="waves-effect waves-light btn-large" style="background-color:transparent;border:2px solid white" ng-click="findHospitals()"><span style="font-weight:bold">Find Hospitals</span></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row myrow2">

              <div class="offset-m1 col s12 m5">
                <div class="card horizontal ">
                  <div class="card-image myimg" >
                    <img src="img/donate.png">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content card_div">
                    <div class="text">
                      <h2><span style="color:#c62828">Do</span>nate</h2>

                    </div>
                      
                      <div class="button center">
                        <a class="waves-effect waves-light btn-large" style="background-color:transparent;border:2px solid white" ng-click="donateBlood()"><span style="font-weight:bold">Donate Blood</span></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>

              <div class=" col s12 m5">
                <div class="card horizontal ">
                  <div class="card-image myimg" >
                    <img src="img/booking.png">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content card_div">
                    <div class="text1">
                      <h2><span style="color:#c62828">Blo</span>odsure</h2>
                    </div>
                      
                      <div class="button center">
                        <a class="waves-effect waves-light btn-large" style="background-color:transparent;border:2px solid white" ng-click="bloodsure()"><span style="font-weight:bold">Book Blood</span></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
    </div>
  </div>      
</div>

<!-- ---------------------------------------------Functionality section Starts Here--------------------------------------- -->




  <!--------------------------------------Counter Section STARTS Here-------------------------------------------- -->

    <div class="mycounter">
      <div class="mycounter_tint">
        <div class="container counter_container">
          <div class="row">
            <div class="col s12 m3 counterone">
              <div class="card">
                <div class="card-content">
                  <div class="center mycounter1">
                  <i class="material-icons">volume_down</i>
                  <div class="counter" data-count="1536" style="font-size:30px;color:#c62828;font-weight:bold">0</div>
                  <span class="card-title">CAMPAIGNS</span>
                  </div>
                  
                </div>
              </div>
            </div>


            <div class="col s12 m3 counterone">
              <div class="card">
                <div class="card-content">
                  <div class="center mycounter1">
                  <i class="material-icons">pan_tool</i>
                  <div class="counter" data-count="2134" style="font-size:30px;color:#c62828;font-weight:bold">0</div>
                  <span class="card-title">VOLUNTEERS</span>
                  </div>             
                </div>
              </div>
            </div>


            <div class="col s12 m3 counterone">
              <div class="card">
                <div class="card-content">
                  <div class="center mycounter1">
                  <i class="material-icons">accessibility</i>
                  <div class="counter " data-count="2123" style="font-size:30px;color:#c62828;font-weight:bold">0</div>
                  <span class="card-title">DONORS</span>
                  </div>
                  
                </div>
              </div>
            </div>


            <div class="col s12 m3 counterone">
              <div class="card">
                <div class="card-content">
                  <div class="center mycounter1">
                  <i class="material-icons">wc</i>
                  <div class="counter" data-count="750" style="font-size:30px;color:#c62828;font-weight:bold">0</div>
                  <span class="card-title">PATIENTS</span>
                  </div>
                  
                </div>
              </div>
            </div>           
        </div>
      </div>
      </div>
    </div>

     <!--------------------------------------Counter Section ends Here-------------------------------------------- -->



    <!--------------------------------------EVENT SECTION STARTS Here-------------------------------------------- -->


     <div class="events" id="event">
      <div class="row">
        <div class="col m12 s12 bloodgrp">
          <p class="center-align heading"><i class="material-icons">clear_all</i><span class="our_serv">UPCOMING EVENTS</span><i class="material-icons">clear_all</i></p>
          <h5 class="center-align grey-text text-darken-1 our_serv_text">A no of events are upcoming.Stay Tuned!!!</h5>
        </div>
      </div>
      
      <div class="container container2">
      <div class="row">
        <div class="col s12 m6">
          <div class="card large event1_card">
            <div class="card-image">
              <img src="img/event.jpg">
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col s4  m3 date">
                <p>15<br>Sep'17</p>
                </div>
                <div class=" offset-m4 col m8 s12 detail">
                  <p class="center-align"><b>BLOOD DONATION DAY</b></p>
                  <pre class="time"><i class="material-icons tiny">query_builder</i>12:00pm-5:00pm<i class="material-icons tiny ">location_on</i>Alomond Street, Texas</pre>
                <h6>Donate blood and save lifes.Donate blood and save lifes. Donate blood and save lifes.Donate blood and save lifes </h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="pffset-m1 col s12 m6 ">
          <div class="card large event1_card">
            <div class="card-image">
              <img src="img/event2.jpg">
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col s4 m3 date">
                  <p>15<br>Sep'17</p>
                </div>
                <div class=" offset-m4 col m8 s12 detail">
                  <p class="center-align"><b>BLOOD DONATION DAY</b></p>
                  <pre class="time"><i class="material-icons tiny">query_builder</i>12:00pm-5:00pm<i class="material-icons tiny ">location_on</i>Alomond Street, Texas</pre>
                <h6>Donate blood and save lifes.Donate blood and save lifes. Donate blood and save lifes.Donate blood and save lifes </h6> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row center">
        <div class="col s12 m3 offset-m5">
          <a class="btn load_event">LOAD MORE EVENTS</a>
        </div>
      </div>

      <div class="row" id="hid_div">
        <div class="col s12 m6">
          <div class="card large event1_card">
            <div class="card-image">
              <img src="img/event3.jpg">
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col s4 m3 date">
                <p>15<br>Sep'17</p>
                </div>
                <div class=" offset-m4 col m8 s12 detail">
                  <p class="center-align"><b>BLOOD DONATION DAY</b></p>
                  <pre class="time"><i class="material-icons tiny">query_builder</i>12:00pm-5:00pm<i class="material-icons tiny ">location_on</i>Alomond Street, Texas</pre>
                <h6>Donate blood and save lifes.Donate blood and save lifes. Donate blood and save lifes.Donate blood and save lifes </h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card large event1_card">
            <div class="card-image">
              <img src="img/event4.jpg">
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col s4 m3 date">
                  <p>15<br>Sep'17</p>
                </div>
                <div class=" offset-m4 col m8 s12 detail">
                  <p class="center-align"><b>BLOOD DONATION DAY</b></p>
                  <pre class="time"><i class="material-icons tiny">query_builder</i>12:00pm-5:00pm<i class="material-icons tiny ">location_on</i>Alomond Street, Texas</pre>
                <h6>Donate blood and save lifes.Donate blood and save lifes. Donate blood and save lifes.Donate blood and save lifes </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

     <!--------------------------------------EVENT SECTION ends Here-------------------------------------------- -->

     <!--------------------------------------Testimonials section starts Here-------------------------------------------- -->

      <div class="testimonials">
        <div class="testimonials_tint">
          <div class="container testimonials_card">
            <div class="row">
              <div class="col m12 s12">
                <div class="card ">
                  
                      <div class="slider">
                      <ul class="slides">
                        <li>
                     
                          <div class="caption center-align test_card">
                            <h3>DONOR'S OPINION</h3>
                              <p class="light grey-text text-darken-2"><i class="fa fa-quote-left" aria-hidden="true"></i>Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                          </div>
                        </li>
                        <li>
                         
                          <div class="caption center-align test_card">
                             <h3>DONOR'S OPINION</h3>
                            <p class="light grey-text text-darken-2"><i class="fa fa-quote-left" aria-hidden="true"></i>Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                          </div>
                        </li>
                        <li>
                          
                          <div class="caption center-align test_card">
                            <h3>DONOR'S OPINION</h3>
                             <p class="light grey-text text-darken-2"><i class="fa fa-quote-left" aria-hidden="true"></i>Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                          </div>
                        </li>
                        <li>
                          
                          <div class="caption center-align">
                             <h3>DONOR'S OPINION</h3>
                             <p class="light grey-text text-darken-2"><i class="fa fa-quote-left" aria-hidden="true"></i>Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.Here's our small slogan.<i class="fa fa-quote-right" aria-hidden="true"></i></p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--------------------------------------Testimonials section ends Here-------------------------------------------- -->


      <!--------------------------------------Photo Gallery starts Here-------------------------------------------- -->

        <div class="photos hide-on-med-and-down" id="photo">
          <div class="row">
            <div class="col m12 s12 bloodgrp">
              <p class="center-align heading"><i class="material-icons">clear_all</i><span class="our_serv">PHOTO GALLERY</span><i class="material-icons">clear_all</i></p>
             <h5 class="center-align grey-text text-darken-1">Increase the awareness among people about various issues</h5>
            </div>
          </div>

          <div class="grid">
            <div class="grid-sizer"></div>
              <div class="grid-item">
                <img src="img/ph1.jpg" class="ph1 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph2.jpg" class="ph2 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph4.jpg" class="ph3 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph11.jpg" class="ph4 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph10.jpg" class="ph5 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph5.jpg" class="ph6 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph6.jpg" class="ph7 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph8.jpg" class="ph8 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph7.jpg" class="ph9 materialboxed">
              </div>
              <div class="grid-item">
                <img src="img/ph9.jpg"  class="ph10 materialboxed">
              </div>
            </div>
          </div>
    </div> 

    
     <!--------------------------------------Photo Gallery ends Here-------------------------------------------- -->

    
     


      <!--------------------------------------Footer starts Here-------------------------------------------- -->
 <footer>
  <div class="footer_tint">
    <div class="container container1">
      <div class="row" style="padding-top: 3vw">
        <div class="col s12 m5 about_text">
          <img src="img/bport_logo.png" style="width: 60px; height: 60px; background-color: transparent;">
          <span style="color: white; font-size: 30px;">BLOODPORT</span>
          <p class="about_company">We are a creative company that specializes in strategy and design. We like to create things we line-minded people who are serious about their passions.</p>
          <a class="waves-effect waves-light btn-floating btn-large social google"><i class="fa fa-google"></i></a>
          <a class="waves-effect waves-light btn-floating btn-large social facebook"><i class="fa fa-facebook"></i></a>
          <a class="waves-effect waves-light btn-floating btn-large social linkedin"><i class="fa fa-linkedin"></i></a>
        </div>

        <div class="col s12 m4 center">
          <p class="head_links"><b>QUICK LINKS</b></p>
          <a href="#home" class="links" style="text-align: center">HOME</a><br>
          <a href="#info" class="links">OUR SERVICES</a><br>
          <a href="#event" class="links">UPCOMING EVENTS</a><br>
          <a href="#photo" class="links">PHOTO GALLERY</a><br>
          <a ui-sref="signup" class="links">SIGN  IN/SIGN UP</a><br>
          <a href="#" class="links">FAQs</a><br>  
        </div>

        <div class="col offset-s0 s12 m3 center">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=300&height=300&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="300" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>

    <div class="footer-copyright center">
    <div class="container myfooter">
      <ul>
      <span class="hide-on-med-and-down white-text" style="font-size: 18px">Copyright © 2017 BloodPORT.in </span>
            <a class="white-text text-lighten-4 "  href="#" style="font-size:16px">Privacy Policy</a>
            <a class="white-text text-lighten-4 "  href="#info" style="font-size:16px">Terms and Conditions</a>
            <a class="white-text text-lighten-4 "  href="#event" style="font-size:16px">Legal</a>
            <a class="white-text text-lighten-4 " href=" " ui-sref="signup" style="font-size:16px">Sign-in/Signup</a>
       </ul>
    </div>
  </div>
  </div>
</footer>

      <!--
        <div class="row">
          <div class="col m12 s12 foot">
            <h5 class="center-align white-text">BLOOD PORT</h5>
            <h6 class="center-align white-text">donate blood and save a life.donate blood and save a life.donate blood and save a life</h6>
            <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-google"></a>
          </div>
       -->

  




     <!--Footer-->
<!--<footer class="page-footer center-on-small-only" style="background-color#c62828">
    <!--Footer Links-->
    <!--<div >
        <div class="container">
            <div class="row" style="padding-top:50px;padding-bottom:10px">
            
                <div class="col s12 m4 map">
                    
                    
                   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3508.8090628723344!2d77.03681581453654!3d28.425017700194612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1875d7aa50e5%3A0x7e6930bbea28775f!2sInternational+Land+Developers!5e0!3m2!1sen!2sin!4v1499939966459" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    
                </div>
                
                <div class="col s12 m4 " >
                        <div class="row logo">
                            <a href="" class="logoImg"><img src="img/bport_logo.png"></a>
                        </div>
                        <div class="row">
                            <div class="social-section">
                                <ul >
                                    <button type="button" class="btn  btn-fb" style="padding-left: 10px;"><i class="fa fa-facebook fbIcon"></i></button>
                                    <button type="button" class="btn  btn-tw" ><i class="fa fa-twitter twitterIcon"></i></button>
                                    
                                    <button type="button" class="btn btn-ins" ><i class="fa fa-youtube youtubeIcon"></i></button>
                                    <button type="button" class="btn btn-linkedin"><i class="fa fa-linkedin linkedinIcon"></i></button>
                                </ul>
                            </div>
                        </div>
                </div>
                <div class="col s12 m4">
                   <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fshuttlescrap%2F&tabs=timeline&width=250&height=250&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=463464124027028" width="250" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer-copyright center">
            <div class="container">
            <span class="hide-on-med-and-down">Copyright © 2017 BloodPORT.in </span>
            <a class="white-text text-lighten-4 foot_next"  href="#" style="font-size:15px">Privacy Policy</a>
            <a class="white-text text-lighten-4 foot_next"  href="#info" style="font-size:15px">Terms and Conditions</a>
            <a class="white-text text-lighten-4 foot_next"  href="#event" style="font-size:15px">Legal</a>
            <a class="white-text text-lighten-4 foota" href=" " ui-sref="signup" style="font-size:15px">Sign-in/Signup</a>
           
      
           
           
            </div>
          </div>
</footer>-->

    <!--------------------------------------Footer ends Here-------------------------------------------- -->


<script type="text/javascript">
    
    $(document).ready(function()
    {

      $(".button-collapse").sideNav();
    /*------------------------------Js for scrollreveal starts here-----------------------------------*/
      window.sr = ScrollReveal({ reset: true });
            sr.reveal('.events', { duration: 700,
      delay: 30,opacity: 0.7 });
            sr.reveal('.container_help', { duration: 700,
      delay: 30,opacity: 0.7 });
            sr.reveal('.mycard1,.mycard2,.mycard3,.mycard4', { duration: 1000,
      delay: 30,opacity: 0.7 });
            sr.reveal('.counterone', { duration: 700,
      delay: 30,opacity: 0.7 });
            sr.reveal('.photos', { duration: 700,
      delay: 30,opacity: 0.7 });
     
      /*------------------------------Js for scrollreveal ends here-----------------------------------*/


      /*----------------------Script for Changing color of navbar starts here------------------------*/

      var scroll_start =0;
      var vsec = $('.vsec');
      var offset = vsec.offset();
      $(document).scroll(function() 
      { 
        scroll_start = $(this).scrollTop();
        if(scroll_start > offset.top) 
        {
          $('.nav1').css({
            'background-color': 'black',
              'opacity':'0.7 '});
        } 
        else 
        {
          $('.nav1').css('background-color', 'transparent');
        }
      });
      /*--------------------------------------------Ends here--------------------------------------*/



      /*--------------------Scripts related to carousel and side nav starts here-------------------*/

      $('.carousel.carousel-slider').carousel({fullWidth: true});
     
      $('.carousel').carousel();
      /*--------------------------------------------Ends here--------------------------------------*/


      /*-------------------Script related to LOAD MORE EVENTS starts here--------------------------*/

      $('.load_event').click(function()
      {
        $('.load_event').hide();
        $('#hid_div').show();
      });
      /*--------------------------------------------Ends here--------------------------------------*/



      /*----------------------Script related to pop up video starts here---------------------------*/

      $('#play-video').on('click',function(ev)
      {
        $('.modal').modal();
        $('iframe').show();
        $("#video1")[0].src += "&autoplay=0";
        ev.preventDefault();
        $('#agree_btn').on('click',function()
        {
          $('iframe').attr('src', $('iframe').attr('src'));
        });
      });
      /*--------------------------------------------Ends here--------------------------------------*/



      /*------------------------Script related to Counter section starts here-----------------------*/

      $(document).on("scroll", function () {
        if ($(document).scrollTop()>2300) 
        {
            $('.counter').each(function() 
            {
              var $this = $(this),
              countTo = $this.attr('data-count');
              $({ countNum: $this.text()}).animate({
              countNum: countTo
            },

            {
              duration: 8000,
              easing:'linear',
              step: function() 
              {
              $this.text(Math.floor(this.countNum));
              },
              complete: function() 
              {
                $this.text(this.countNum);
                //alert('finished');
              }
            });  
      });
        } 
        else 
        {
           //alert("you are at > 100");
        }
     });
      
      /*--------------------------------------------Ends here--------------------------------------*/


      /*---------------------------Script related to typewriting effect starts here-----------------*/

           var TxtType = function(el, toRotate, period) 
      {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
      };

       TxtType.prototype.tick = function() 
      {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
      };

      window.onload = function() 
      {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
      };
  
  /*---------------------------------------------------------Ends here-----------------------------------*/
  /*-------------------------Slider Jquery-------------------------------------------------------------*/

       $(document).ready(function(){
          $('.slider').slider({
            indicators:false
          });
      });
  });
  /*------------------------Script for relaoding to start of the page-----------------------------------*/
 
  
    /*window.onbeforeunload= function(){ window.scrollTo(0,0);}*/


  </script>