 <link rel="stylesheet" type="text/css" href="css/sign_up.css">
<!-- normal modal for normal signup-->

<div id="modal1" class="modal">
   <div class="modal-content">
          <div class="col s12 center">
            <h4 style="color:#c62828">Verify OTP</h4>
            <p>Enter OTP, sent to your phone and then press "Verify"</p>
          </div>
            <div class="input-field col s6">
              <input id="otp" type="text" ng-model="user_OTP">
              <label for="OTP">Enter OTP</label>
            </div>
            <p ng-model="errorMsg"></p>
          </div>
          <div class="modal-footer col m2 s12">
              <button id="verify" class="btn waves-effect waves-light btn modal-close" type="" name="action" ng-click="verifyOTP()">Verify</button>
          </div>       
  </div>
<!-- modal for fb signup-->
  <div id="modal2" class="modal">
          <div class="modal-content">
          <div class="col s12 center" ng-hide="userNotExists">
            <h4 style="color:#c62828">Enter Your Phone Number</h4>
            <p>Enter your Mobile number to get registered</p>
          </div>
          <div class="col s12 center" ng-show="userNotExists">
            <h4 style="color:#c62828">Verify OTP</h4>
            <p>Enter your Mobile number to get registered</p>
          </div>

            <div class="input-field col s6" ng-hide="userNotExists">
              <input id="mobileNo" type="tel" ng-model="socialLoginPhone">
              <label for="Mobile No.">Enter Mobile No.</label>
            </div>
            
            <div class="input-field col s6" ng-hide="userNotExists">
              <select ng-model="fb_blood_grp">
                <option value="" disabled selected>Blood Group</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
                <option value="O-">O-</option>
              </select>
            </div>
            <div class="input-field col s6" ng-show="userNotExists">
              <input id="mobileNo" type="text" ng-model="socialLoginOTP">
              <label for="OTP">Enter OTP</label>
            </div>
          <p ng-model="FbErrorMsg" ng-show="userNotExists"></p>
          </div>
          <div class="modal-footer col m2 s12" ng-hide="userNotExists">
              <button id="" class="btn waves-effect waves-light btn modal-close" type="" name="action" ng-click="faceBookLogin()">Submit</button>
              <a href="#" class="btn-flat fb_cancel_btn">Cancel</a>
          </div>
          <div class="modal-footer col m2 s12" ng-show="userNotExists">
              <button id="" class="btn waves-effect waves-light btn modal-close" type="" name="action" ng-click="FbOTPVerify()">Submit</button>
              <a href="#" class="btn-flat fb_cancel_btn">Cancel</a>
          </div>
  </div>

<!-- modal for google signup-->

<div class="modal" id="modal3">
  <div class="modal-content">
    <div class="google_user_first_div" ng-hide="google_user_not_exists">
    <div class="col s12 center">
      <h4 style="color:#c62828">Enter Details</h4>
    </div>

    <form name="google_user_form" novalidate>
    <div class="col s12 input-field">
      <input type="tel" name="phone" ng-model="google_phone_no" style="color: #c62828" maxlength="10" required>
      <label style="color: #c62828">Enter your mobile number</label> 
    </div>

    <div class="input-field col s12">
      <select ng-model="google_blood_grp" required>
        <option value="" disabled selected>Blood Group</option>
        <option value="A+">A+</option>
        <option value="B+">B+</option>
        <option value="AB+">AB+</option>
        <option value="O+">O+</option>
        <option value="A-">A-</option>
        <option value="B-">B-</option>
        <option value="AB-">AB-</option>
        <option value="O-">O-</option>
      </select>        
    </div>

    <div class="col s12 center" ng-show="detailsEmptyTrue">
      <h6 style="color: #c62828">{{detailsEmpty}}</h6>
    </div>

    <div class="col s12 center">
      <a class="btn btn-flat" type="submit" style="color: white;  background-color: #c62828" ng-disabled="google_user_form.$invalid" ng-click="continue()">Continue</a>
      <a class="btn btn-flat" style="color: white;  background-color: #c62828" ng-click="cancel()">Cancel</a>
    </div>
    </form>
    </div>

    <div class="google_user_second_div" ng-show="google_user_not_exists">
        <div class="col s12">
          <h4 style="color:#c62828">Verify OTP</h4>
        </div>

        <div class="col s12 input-field">
          <input type="tel" name="" ng-model="google_user_otp" maxlength="4" style="color: #c62828" required>
          <label style="color: #c62828">Enter OTP</label>
        </div>

        <div class="col s12 center" ng-show="detailsEmptyTrue">
          <h6 style="color: #c62828">{{OTPnotMatch}}</h6>
        </div>
        <div class="col s12 center">
          <a class="btn btn-flat" style="color: white;  background-color: #c62828" ng-click="saveGoogleUserDetails()">Continue</a>
          <a class="btn btn-flat" style="color: white;  background-color: #c62828" ng-click="cancel()">Cancel</a>
        </div>
    </div>
  </div>
</div>

  <div class="col s12 m12">
  <a ui-sref="mainpage"><p class="center align" style="color:#c62828; padding-top: 5vh;font-size:24px"><span><img src="img/bport_logo.png" width="90" height="60" style="position:absolute;top:7%;left:40%"></span>BLOODPORT</p></a>
  </div>
  <div class="container">
    <div class="row main_div">
      <div class="col s12 m8 white">
        <div class="row icons">
          <div class="col s6 m4 center">
            <a ng-click="FbLogin()" class="waves-effect waves-light btn social facebook"><i class="fa fa-facebook"></i>Facebook</a> 
          </div>
          <div class="col s6 m4 center">
            <a class="waves-effect waves-light btn social google" ng-click="onGoogleLogin()"><i class="fa fa-google"></i>  Google</a> 
          </div>
        </div>

      <form name="signupForm" novalidate ng-submit="callsignUp()">
        <div class="container container1" >
          <div class="row">
            <div class="col s12 m6">
              <div class="input-field valign-wrapper">
                <i class="material-icons prefix name" style="color: #c62828;" >account_circle</i>
                <input id="icon_prefix" type="text" class="validate name_ip" ng-model="user_name" required>
                <label for="icon_prefix" style="color:#c62828;">Name</label>
              </div>
            </div>
        
            <div class="col s12 m6">
              <div class="input-field valign-wrapper">
                <i class="material-icons prefix mail" style="color: #c62828;" >email</i>
                <input id="icon_email" type="email" class="validate mail_ip" ng-model="user_email" required>
                <label for="icon_email" style="color: #c62828;">Email</label>
              </div>
            </div>
          </div>


        <div class="row">
          <div class="col s12 m6">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix tel" style="color: #c62828;">phone</i>
              <input id="icon_telephone" type="tel" class="validate tel_ip" ng-model="user_mobile_no" maxlength="10" required>
              <label for="icon_telephone" style="color:#c62828;">Mobile No</label>
            </div>
          </div>
        
          <div class="col s12 m6">
            <div class="input-field">
              <i class="material-icons small prefix invert_colors blood_drop" style="color: #c62828">invert_colors</i>
              <select ng-model="user_blood_grp">
                <option value="" disabled selected>Blood Group</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="AB+">AB+</option>
                <option value="O+">O+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
                <option value="O-">O-</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="input-field">
            <i class="material-icons prefix today" style="color: #c62828">today</i>
            <input type="date" name="date"  id="date_check" class="form-control" ng-model="user_dob" onclick="check()" style="color: #c62828">
       <!--     <label for="date of birth" style="color: #c62828">Date Of Birth</label>-->
            </div>
          </div>
          <div class="col s12 m6">
            <div class="input-field">
              <i class="material-icons prefix perm_identity" style="color: #c62828">perm_identity</i>
              <select style="color: #c62828" ng-model="user_gender">
                <option value="" disabled selected>Gender</option>
                <option value="Male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix pass" style="color: #c62828;" >lock</i>
              <input id="icon_password" type="password" class="validate pass_ip" ng-model="user_password" maxlength="8"required>
              <label for="icon_password" style="color: #c62828;">Password</label>
            </div>
          </div>
        
          <div class="col s12 m6">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix cpass" style="color: #c62828;" >lock</i>
              <input id="icon_password" type="password" class="validate cpass_ip" ng-model="user_confirm_password" required maxlength="8">
              <label for="icon_password" style="color: #c62828;">Confirm Password</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12">
            <!--<a type="submit" class="waves-effect waves-light btn submit_btn" value="submit">SIGN UP</a>-->
        <button id="signup_button" class="btn waves-effect waves-light btn submit_btn" type="submit" name="action" ng-disabled="signupForm.$invalid||cmprPass()||check_fields()">Signup</button>
          </div>
        </div>
        </div>
      </form>
      </div>

      <div class="col s12 m4 login_sec">
      <form name="login_form" ng-submit="login()" novalidate>
          <div class="row center">
            <div class="col s12  offset-m4 m4 ">
              <h4 class="login white-text">LOGIN</h4>
            </div>
          </div>

          <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10">
              <div class="input-field valign-wrapper">
                <i class="material-icons prefix white-text">phone</i>
                <input id="icon_phone" type="tel" style="color: white;" class="validate" ng-model="user_login_mobile_no" required maxlength="10">
                <label for="icon_phone" style="color: white;">Enter Mobile no.</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10">
              <div class="input-field valign-wrapper">
                <i class="material-icons prefix white-text">lock</i>
                <input id="icon_password" type="password" style="color: white;" class="validate login_pass_ip" ng-model="user_login_password" required maxlength="8">
                <label for="icon_password" style="color: white;">Password</label>
              </div>
            </div>
          </div>

          <!--<div class="row">
            <p  class="center-align white-text">
              <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
              <label for="filled-in-box" class="white-text">Remember Me</label>
            </p>
          </div>-->

          <div class="row center">
            <div class="col offset-s3 s6 m5" >
              <a ui-sref="forgotpassword"><h6 class="white-text">Forgot Password?</h6></a>
            </div>

            <div class="col offset-s4 s6 offset-m1 m6">
             <!--added by sakshi on 20/7/17-->
             <button class="btn waves-effect waves-light btn login_btn" type="submit" name="action" ng-click="login()">LOGIN</button>
             <!--added finished-->
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>

<script>
  function check(){
    var a = document.getElementById('date_check').value;
      console.log(a);
    }
</script>
<script type="text/javascript" src="js/init.js"></script>  
<script type="text/javascript">
    $(document).ready(function() {

      $('.modal').modal();
      
     $('#verify').click(function(){
      $('#modal1').hide();
     })
  
    $('select').material_select();
    
    $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 30 // Creates a dropdown of 15 years to control year
  });
    });
    
    function preventBack(){window.history.forward();}
    setTimeout("preventBack()", 0);
    window.onunload=function(){null};


  </script>

       
<script type="text/javascript">

  (function(){
    var p=document.createElement('script');
    p.type= 'text/javascript';
    p.async= true;
    p.src= "https://apis.google.com/js/client.js?onload=onLoadFunction";
    var s=document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(p, s);
  })();


  
  /*
    $('.name_ip').on('click',function(){
      $('.name').css('color','silver');
      $('.name_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.tel_ip').on('click',function(){
      $('.tel').css('color','silver');
      $('.tel_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.mail_ip').on('click',function(){
      $('.mail').css('color','silver');
      $('.mail_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.pass_ip').on('click',function(){
      $('.pass').css('color','silver');
      $('.pass_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.cpass_ip').on('click',function(){
      $('.cpass').css('color','silver');
      $('.cpass_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.login_mail_ip').on('click',function(){
      $('.login_mail_ip').css('border-bottom','2px solid white');
    })

    $('.login_pass_ip').on('click',function(){
      $('.login_pass_ip').css('border-bottom','2px solid white');
    })

    */
  </script>

