<!DOCTYPE html>
<html ng-app="sign_up">
<head>
  <title></title>
      <link href="https://fonts.googleapis.com/css?family=Dosis:600" rel="stylesheet">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="css/sign_up.css">
      <link rel="stylesheet" href="css/animate.min.css">
      <link rel="stylesheet" href="css/materialize-social.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="js/app.js"></script>
</head>

<body>

  <div class="col s12 m12">
    <h5 class="center align" style="color:#c62828;">BLOODPORT</h>
  </div>

  <div class="container">
    <div class="row main_div">
      <div class="col s12 m8 white">
        <div class="row icons">
          <div class="col s12 m4">
            <a class="waves-effect waves-light btn social facebook"><i class="fa fa-facebook"></i>Facebook</a> 
          </div>
          <div class="col s12 m4">
            <a class="waves-effect waves-light btn social twitter"><i class="fa fa-twitter"></i>  Twitter</a> 
          </div>
          <div class="col s12 m4">
            <a class="waves-effect waves-light btn social google"><i class="fa fa-google"></i>  Google</a> 
          </div>
        </div>

      <form name="signupForm" ng-controller="signupController" ng-submit="callsignUp()">
        <div class="container container1" >
        <div class="row">
          <div class="col s12 m12">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix name" style="color: #c62828;" >account_circle</i>
              <input id="icon_prefix" type="text" class="validate name_ip" ng-model="user_name" required>
              <label for="icon_prefix" style="color:#c62828;">Your Name</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix tel" style="color: #c62828;" >phone</i>
              <input id="icon_telephone" type="tel" class="validate tel_ip" ng-model="user_mobile_no" required>
              <label for="icon_telephone" style="color:#c62828;">Mobile</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix mail" style="color: #c62828;" >email</i>
              <input id="icon_email" type="email" class="validate mail_ip" ng-model="user_email" required>
              <label for="icon_email" style="color: #c62828;">Your Email</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix pass" style="color: #c62828;" >lock</i>
              <input id="icon_password" type="password" class="validate pass_ip" ng-model="user_password" required>
              <label for="icon_password" style="color: #c62828;">Password</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12">
            <div class="input-field valign-wrapper">
              <i class="material-icons prefix cpass" style="color: #c62828;" >lock</i>
              <input id="icon_password" type="password" class="validate cpass_ip" ng-model="user_confirm_password" required>
              <label for="icon_password" style="color: #c62828;">Confirm Password</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12">
            <!--<a type="submit" class="waves-effect waves-light btn submit_btn" value="submit">SIGN UP</a>-->
           <button class="btn waves-effect waves-light btn submit_btn" type="submit" name="action" ng-disabled="signupForm.$invalid || cmprPass()" ng-click="signup">Signup</button>
          </div>
        </div>
        </div>
      </form>
      </div>

      <div class="col s12 m4 login_sec">
          <div class="row center">
            <div class="col s12 offset-m4 m4 ">
              <h4 class="login white-text">LOGIN</h4>
            </div>
          </div>

          <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10">
              <div class="input-field valign-wrapper">
                <i class="material-icons prefix white-text">email</i>
                <input id="icon_email" type="email" class="validate login_mail_ip" >
                <label for="icon_email" style="color: white;">Your Email</label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col offset-s1 s10 offset-m1 m10">
              <div class="input-field valign-wrapper">
                <i class="material-icons prefix white-text">lock</i>
                <input id="icon_password" type="password" class="validate login_pass_ip">
                <label for="icon_password" style="color: white;">Password</label>
              </div>
            </div>
          </div>

          <div class="row">
            <p  class="center-align white-text">
              <input type="checkbox" class="filled-in" id="filled-in-box" checked="checked" />
              <label for="filled-in-box" class="white-text">Remember Me</label>
            </p>
          </div>

          <div class="row center">
            <div class="col offset-s3 s6 m6" >
              <a href="forgotPassword.html"><h6 class="white-text">Forgot Password?</h6></a>
            </div>

            <div class="col offset-s1 s10 m5">
              <a class="waves-effect waves-light btn login_btn">LOGIN</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <!--<script type="text/javascript">
    $('.name_ip').on('click',function(){
      $('.name').css('color','silver');
      $('.name_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.tel_ip').on('click',function(){
      $('.tel').css('color','silver');
      $('.tel_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.mail_ip').on('click',function(){
      $('.mail').css('color','silver');
      $('.mail_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.pass_ip').on('click',function(){
      $('.pass').css('color','silver');
      $('.pass_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.cpass_ip').on('click',function(){
      $('.cpass').css('color','silver');
      $('.cpass_ip').css('border-bottom','2px solid #ef5350');
    })

    $('.login_mail_ip').on('click',function(){
      $('.login_mail_ip').css('border-bottom','2px solid white');
    })

    $('.login_pass_ip').on('click',function(){
      $('.login_pass_ip').css('border-bottom','2px solid white');
    })
  </script>-->
</body>
</html>
